:root {
  --lamp-x: 50%;
  --lamp-y: 32%;
  --lamp-opacity: 10;
}

body {
  background-image:
    radial-gradient(closest-side,
      rgba(255,232,140,var(--lamp-opacity)) 0%,
      rgba(255,232,140,calc(var(--lamp-opacity)*.55)) 35%,
      rgba(223, 144, 10, 0) 70%),
    url("../assets/image/background.png");

  background-position: var(--lamp-x) var(--lamp-y), center;
  background-size: 60vmin 60vmin, cover;
  background-repeat: no-repeat, no-repeat;
  background-blend-mode: screen, normal;
  background-attachment: fixed;
}